<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="SendTtsAndSmsSystemConnString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\MDB\SendTtsAndSmsSystemDB.mdb;Persist Security Info=True" providerName="System.Data.OleDb"/>-->
    <add name="SendTtsAndSmsSystemConnString" connectionString="Data Source=LAPTOP-VIQ7JREP\SQLEXPRESS;Initial Catalog=SendTtsAndSmsSystem;User ID=sa;Password=89862579" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ServerIp" value="api.hiair.hinet.net"/>
    <add key="ServerPort" value="8000"/>
    <!--<add key="UserID" value="89869163"/>
    <add key="Passwd" value="1b821568"/>-->
	  
    <!--<add key="UserID" value="89908284"/>
    <add key="Passwd" value="0933f7e8"/>-->
	<add key="UserID" value=""/>
    <add key="Passwd" value=""/>
	<!--<add key="UserID" value=""/>
    <add key="Passwd" value=""/>-->
    <add key="CalloutphpServerIp" value="192.168.10.1"/>
    <add key="MdbPath" value="D:\VS專案\奇美\誠睿TTS語音簡訊系統\MDB\SendTtsAndSmsSystemDB.mdb"/>
    <!--<add key="MysqlConnString" value= "server=192.168.10.1;uid=edt;pwd=89862579;database=callout;charset=utf8;"/>-->
	<add key="MysqlConnString" value="server=192.168.11.120;uid=edt;pwd=89862579;database=callout;charset=utf8;"/>
    <add key="RecordingPath" value="\\192.168.10.1\www\"/>
    <add key="NJCompoletPeerAddress" value="10.33.37.10"/>
	<add key="NJCompoletLocalPort" value="2"/>
    <add key="NJCompoletTagName" value="To_NS_FireAlarm_Substitute"/>
    <add key="IsTest" value="1"/>
  <add key="AllGroup" value="(29)"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
